Server configured successfully!

Name: {{ ansible_eda.event.payload.servers }}

Domain Joined: {{ ansible_eda.event.payload.domain_join_name }}

Packages updated: {{ ansible_eda.event.payload.selected_apps }}